<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Napoleon</title>
    <!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> <\!-- Optional theme -\-> -->
    <link rel="stylesheet" media="all" href="/static/css/main.css" type="text/css">

    {% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </head>

  <body ng-app="GameApp">
    <div class="container-fluid">
      <header class="row">
        <div class="col-md-8 col-xs-6"><h1><a href="/">NAPOLEON</a></h1></div>
        <div class="col-md-4 col-xs-6">
          <ul class="list-inline">
            <li><a class="btn btn-primary">新規登録</a></li>
            <li><a class="btn btn-default">ログイン</a></li>
          </ul>
        </div>
      </header>

      <div class="content">
        {% block content %}{% endblock %}
        <footer>
          <p>&copy; NAPOLO</p>
        </footer>
      </div>
  </body>
</html>
