{% extends "base.html" %}


{% block content %}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2>Contact</h2>
      <p>
        If you have any questions, feel free to contact me.
        And If you found some bugs, please tell me at <a href="https://github.com/her0e1c1/Napoleon/issues">github</a>
      </p>
      <form action="{{ url('napoleon.contact.views.index') }}" method="post">
        {{ csrf_input }}
        <div class="form-group">
          <textarea name="content" class="form-control" id="content" rows="5"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </div>
{% endblock %}
