{% extends "base.html" %}

{% block javascript %}
 <script type="text/javascript" src="{{ static('js/game.js') }}"></script>
{% endblock %}


{% macro message() %}
  <div ng-if="!game.phase" ng-switch="!game.is_joined">
    <span ng-switch-when="true">Do you want to paly Napoleon?</span>
    <span ng-switch-when="false">Waiting for other players to join ...</span>
  </div>
  <div ng-if="game.phase == 'declare'" ng-switch="!game.is_passed">
    <span ng-switch-when="true">Do you declare as Napoleon?</span>
    <span ng-switch-when="false">passed</span>
  </div>
  <div ng-if="game.phase == 'adjutant'" ng-switch="game.is_napoleon">
    <span ng-switch-when="true">副官を選択してください。</span>
    <span ng-switch-when="false">副官の選択中...</span>
  </div>
  <div ng-if="game.phase == 'discard'">
    <div ng-if="game.is_napoleon">
      <span ng-if="!game.is_unused_careds_selected()">不要なカードを選択してください</span>
      <span ng-if="game.is_unused_careds_selected()">始めに場に出すカードを選択してください</span>
    </div>
    <div ng-if="!game.is_napoleon">
      ナポレオンがカードの交換中...
    </div>
  </div>
  <div ng-if="game.waiting_next_turn" ng-class="{alert alert-success: game.is_my_turn, alert alert-danger: !game.is_my_turn}">
    [[ game.users[game.turn].name ]] [[ game.player_cards[game.turn].str ]] won
  </div>
  <div ng-if="(game.phase == 'first_round' || game.phase == 'rounds') && game.is_my_turn"  class="alert alert-info" role="alert">It's your turn</div>
  <p ng-if="game.impossible_card" class="alert alert-warning" role="alert">You can't select [[ game.impossible_card.str]]</p>
  <div ng-if="game.phase == 'finished'">
      <div ng-if="game.did_napoleon_win" ng-class="{'alert alert-success': game.role == 1, 'alert alert-danger': game.role != 1}">ナポレオンの勝ち</div>
      <div ng-if="game.did_napoleon_lose" ng-class="{'alert alert-success': game.role != 1, 'alert alert-danger': game.role == 1}" >ナポレオンの負け</div>
  </div>
{% endmacro %}


{% macro declaration() %}
  <div ng-if="game.phase == 'declare'">
    <div class="form-inline">
      <div class="form-group">
        <label>Declaration</label>
        <select ng-model="game.declaration" ng-disabled="game.is_napoleon || game.is_passed" ng-change="game.declare()" class="form-control">
          <option ng-repeat="d in game.declarations" ng-if="!game.declaration || d.value > game.declaration.value" value="[[ d.value ]]">[[ d.str ]]</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only">Pass</label>
        <button ng-if="!game.is_napoleon" ng-disabled="game.is_passed" ng-click="game.pass()" class="btn btn-default form-control">Pass</button>
      </div>
    </div>
  </div>

  <div ng-if="game.phase == 'adjutant' && game.is_napoleon">
    <div class="form-inline">
      <div class="form-group">
        <label>Adjutant</label>
        <select ng-model="game.adjutant" ng-change="game.determine_adjutant()" class="form-control">
          <option ng-repeat="d in game.deck" value="[[ d.value ]]">[[ d.str ]]</option>
        </select>
      </div>
    </div>
  </div>
{% endmacro %}


{% block content %}
  <div ng-controller="GameController as game"
       ng-init="
       game.user_id={{ request.user.id }};
       game.game_id={{ game.id }};
       game.deck={{ deck }};
       game.declarations={{ declarations }};
       ">

  <table class="table table-condensed">
    <tr>
      <th class="col-xs-1 info">Declaration</th>
      <td>[[ game.declaration.str ]]</td>
    </tr>
    <tr>
      <th class="col-xs-1 info">Adjutant</th>
      <td>[[ game.adjutant.str ]]</td>
    </tr>
  </table>

    <div id="player_ids">
      <table class="table table-bordered">
        <tr id="player">
          <th>Players</th>
          <td ng-repeat="p in game.player_ids track by $index" ng-class="{active: p == game.turn}">
            <span ng-if="p == game.user_id" class="glyphicon glyphicon-star"></span>
            <strong class="text-info">
              [[ game.users[p].name ]]
              <span ng-if="game.player_faces[p] !== null">([[ game.player_faces[p] ]])</span>
            </strong>
            <span ng-if="p == game.napoleon" class="label label-info">N</span>
            <span ng-if="game.phase == 'declare' && game.pass_ids.indexOf(p) >= 0" class="label label-default">PASS</span>
          </td>
        </tr>
        <tr>
          <th>Board</th>
          <td ng-repeat="pid in game.player_ids track by $index">[[ game.player_cards[pid].str ]]</td>
        </tr>
      </table>
    </div>

    <ul ng-if="game.phase == 'first_round'" class="list-inline">
      <span class="label label-info">Face Cards</span>
      <li ng-repeat="c in game.unused">[[ c.str ]]</li>
    </ul>

    <ul ng-if="game.phase == 'discard'" class="list-inline">
      <span class="label label-default">Selected</span>
      <li ng-repeat="c in game.unused" ng-click="game.unselect(c)"><button class="btn btn-default">[[ c.str ]]</button></li>
    </ul>

    {{ message() }}

    {{ declaration() }}

    <div id="hand">
      <ul class="list-inline"><li ng-repeat="c in game.hand.concat(game.rest) | orderBy:'order_by_suit' track by $index">
          <button ng-click="game.select_or_discard(c)" class="btn btn-default">[[ c.str ]]</button>
      </li></ul>
    </div>

  <div ng-if="!game.phase">
    <button ng-if="game.is_joined" ng-click="game.quit()" class="btn btn-default">Leave</button>
    <button ng-if="!game.is_joined" ng-click="game.join()" class="btn btn-default">Play</button>
    <button ng-if="game.is_appropriate_player_number" ng-click="game.start()" class="btn btn-primary">Start</button>
  </div>

  </div>
{% endblock %}
