{% extends "base.html" %}


{% block javascript %}
{% endblock %}

{% block content %}

<div class="icon-add"></div>

<ul>
  {% for g in games %}
  <li>
    <div>
      <a href="{{ url('detail', kwargs={'game_id': g.id}) }}">{{ g.label }}</a>
    </div>
  </li>
  {% endfor %}
</ul>

{% if request.user %}
   <form id="new_game" class="new_game" action="{{ url('game.views.create') }}" method="post">
     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
     <input type="text" name="label">
     <input type="submit">
   </form>
{% endif %}

{% endblock %}
