apscheduler
Jinja2
ipython
ipdb
psycopg2  # install postgresql first
python-dateutil
requests
six
dj-database-url
dj-static
django-debug-toolbar
gunicorn
PyYAML
tornado
redis
django-sslify>=0.2.0
raven
pytest
# pytest-django
django  # first install for dependency
